@charset "utf-8";

body {
  background: #5F7383;
}

.app {
  max-width: 680px;
  margin: 0 auto;
  padding: 80px 10px;
}

@media screen and (max-width:768px) {
  .app {
    padding: 40px 10px;
  }
}

.heading {
  color: #FFF;
}

.app__mainFormWrapper {
  margin-top: 32px;
}

.app__todoWrapper {
  margin-top:32px;
  padding-top: 16px;
  border-top: solid 1px #FFF;
}
